@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Jaro:opsz@6..72&family=Lacquer&family=Lobster&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Protest+Revolution&family=Silkscreen:wght@400;700&display=swap');

html {
    background-color: rgb(236, 236, 236);
    font-family: 'Barlow', sans-serif;
    font-size: 100%;
}

body{
    margin: 0;
}


a{
    text-decoration: none;
    color: white;
}

a:active{
    color: #fa923f;
}



.fixed-bar{
    height: 70px;
}

.page-title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #521751;
    color: white ;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-size: 2rem;
}

/* nav */
.navigation{
    text-align: center;
    padding: 0;
}

li{
    display: inline-block;
    width: 20%;
    background-color: #521751;
    font-size: 16px;
    font-size: 0.9rem;
    border-radius: 4px;
}

.here-page{
    display: inline-block;
    width: 20%;
    font-size: 16px;
    font-size: 0.9rem;
    color: #521751;
    background-color: #fa923f;
    border: 1px solid #521751;
}

/* modal */
.backdrop{
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.modal{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: #521751;
    border-radius: 8px;
    border: 1px solid #521751;
    background: #fa923f;
    padding: 10px;
    width: 260px;
    top: 300px;
    left: calc(50% - 140px);
    z-index: 1;
}

.modal h1{
    margin: 0;
}

.modal button{
    background: #521751;
    color: white;
    width: 80px;
    height: 25px;
    border: 1px solid #521751;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.modal button:hover,
.modal button:active{
    background: #521751;
}

.modal button:focus{
    outline: none;
}

@media (min-width: 400px) {
    .modal{
        width: 360px;
        left: calc(50% - 190px);
    }
}

/* main */

.helper{
    display: none;
    justify-content: center;
    margin: 0;
    color: #fa923f;
}

/*form*/
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

label {
    align-self: flex-start;
    margin-top: 16px;
    margin-bottom: 5px;
}

.form-input:hover {
    background: rgb(228, 226, 226);
}

.form-input:focus, 
.form-button {
    outline: none;
    cursor: pointer;
}

.form-input {
    background: white;
    border: 1px solid #521751;  
    width: 100%;
    padding: 3px;
    border-radius: 4px;
}

textarea {
    resize: none;
    padding: 3px;
}

.submit-button {
    margin-top: 10px;
    padding: 5px;
    background: #979695;
    border: 1px solid gray;
    color: white;
    width: 70px;
    font-size: large;
    border-radius: 4px;
    color: white;
}

.submit-button:active,
.submit-button:hover {
    cursor: pointer;
}

.submit-button:focus {
    outline: none;
}

/* main */
.container{
    display: flex;
    flex-flow: column;
}

.cont{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trip-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #521751;
    color: white;
    text-align: center;
}


.trip-image{
    width: 100%;
    height: 100%;
}

.trip-image:hover{
    cursor: pointer;
}

.feedback {
    position: relative;
    bottom: 18.4px;
    margin: 0;
    background-color: #521751;
    color: white;
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
}

/* footer */
.review-clients{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    margin: 10px;
}

.review-clients img{
    width: 120PX;
}

.review-clients p{
    width: 350px;
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
}

@media(min-width: 400px){
    .navigation li{
        font-size: 1.2rem;
    }

    .form{
        width: 40%;
    }
}

@media(min-width: 700px){
    .container{
        flex-flow: row;
    }
    
    .cont{
        width: 50%;
    }
}